.styled{
    color: "#ddd9ce";

    --joy-palette-text-primary: "";
 
   /* --joy-fontFamily-body: 'Tangerine';
    --FormLabel-fontSize: 50px;*/
    --joy-fontWeight-md: lighter;
    --joy-lineHeight-md: lighter;
    --FormLabel-color: "#ddd9ce";
}